
.detail_box {
    padding: 40px 60px 60px;
    text-align: center;
    margin-top: 12px;
}
.detail_box h3 {
    color: #333;
    font-size: 24px;
}
.detail_box .media_coverage_time {
    padding: 20px;
    color: #999;
    font-size: 14px;
    border-bottom: 1px solid #ebebeb;
}
.detail_box .medil_detail {
    padding: 40px 10px 0;
    text-align: left;
}

.detail_box .announcement_detail {
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 10px;
}
.detail_box .announcement_detail h3 {
    float: left;
}
.detail_box .announcement_detail span {
    float: right;
    padding-right: 18px;
    color: #999;
    font-size: 14px;
    height: 36px;
    line-height: 36px;
    display: inline-block;
}
