.notice_list {
    padding: 24px 60px 20px;
}
.notice_list ul {
    margin-bottom: 30px;
}
.notice_list li.notice_title {
    height: 65px;
    line-height: 65px;
    border-bottom: 1px dashed #ececec;
}
.notice_list li.notice_title a {
    width: 780px;
    display: inline-block;
    color: #666;
    font-size: 18px;
    float: left;
    height: 65px;
    line-height: 65px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.notice_list li.notice_title a:hover{
    color: #d94a44;
}
.notice_list li.notice_title span {
    color: #999;
    font-size: 16px;
    float: right;
}
.notice_list li.notice_title a i {
    width: 8px;
    height: 14px;
    display: inline-block;
    background-position: 0 -1636px;
    vertical-align: middle;
    margin-right: 8px;
}
