
body{
  background:#fff;
}
.container, .white-container, .callback-container, .media-list-container, .container-hidden, .logo-bar, .container-login-nav, .container-login, .container-register, .container-home, .product-ad-container, .investment-process-container, .partner-container, .pay-container, .security-panel-center {
    max-width: 1104px;
    _width: 1104px;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 1100px;
    clear: both;
    margin: 0 auto;
}
.help {
    overflow: hidden;
    padding-bottom: 20px;
}
.space-vertical-m {
    display: block;
    padding-bottom: 26px;
}
.help .help-menu {
    width: 270px;
    float: left;
}

.help .help-menu li {
    height: 45px;
    line-height: 45px;
    text-align: center;
    border-bottom: 1px dashed #ccc;
}
.help .help-menu li.current {
    background-color: #fafafa;
    border-left: 3px solid red;
}
.help .help-menu li a {
    font-size: 16px;
}
.help .help-menu li.current a {
    color: red;
}

.help .help-content {
    overflow: hidden;
    zoom: 1;
    padding-left: 50px;
    min-height: 500px;
}
.help .help-content .help-box {
    display: none;
}
.help .help-content .help-box.active {
    display: block;
}
h1 {
    font-size: 26px;
}
help .help-content .hot-items h1 {
    margin-bottom: 25px;
    font-size: 20px;
}
.help .help-content .hot-items ul li {
    width: 380px;
    height: 42px;
    line-height: 42px;
    background-color: #fafafa;
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}
.help .help-content .hot-items ul li a {
    display: inline-block;
    padding-left: 20px;
    font-size: 14px;
}
a:hover, a:active {
    color: #e7350d;
}
.help .help-content .hot-items ul li.odd {
    margin-right: 0px;
}

.help .help-content .list-items h1 {
    margin-bottom: 25px;
    font-size: 20px;
}
.help .help-content .list-items .list-item {
    border-width: 1px;
    border-style: solid;
    border-color: #fafafa;
    font-size: 14px;
    margin-bottom: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}
.help .help-content .list-items .list-item .list-item-title{
  height: 42px;
  line-height: 42px;
  background-color: #fafafa;
  padding-left: 10px;
  cursor: pointer;
  position: relative;
}
.help .help-content .list-items .list-item .list-item-title .help-arrow {
    background-repeat: no-repeat;
    background-image: url(../img/icon-public.png);
    width: 25px;
    height: 20px;
    position: absolute;
    top: 12px;
    right: 20px;
    background-position: -145px -157px;
}
.help .help-content .list-items .list-item .list-item-content {
    display: none;
    padding: 20px;
}
p {
    font-size: 12px;
}
.help .help-content .list-items .list-item .list-item-content p {
    margin-bottom: 15px;
    font-size: 14px;
}
.help .help-content .list-items .list-item.active {
    border-color: #d3d3d3;
}
.help .help-content .list-items .list-item.active .list-item-title {
    background-color: #d3d3d3;
}
.help .help-content .list-items .list-item.active .list-item-title .help-arrow {
    background-position: -145px -200px;
}
.help .help-content .list-items .list-item.active .list-item-content{
  display: block;
}
