*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}
body{
  font-family: "Helvetica Neue","Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
  font-size: 12px;
  line-height: 1.5;
  color: #474e5e;
  background-color: #f5f5f5;
  min-width: 1100px;
}
.section {
    position: relative;
    overflow: hidden;
}
a:link, a:visited {
    color: #474e5e;
}
a {
    color: inherit;
    text-decoration: inherit;
    cursor: inherit;
}
a:link, a:visited {
    color: #474e5e;
}
a:hover, a:active {
    color: #db493f;
    cursor: pointer;
}
a img {
    border: none;
}
ol, ul {
    list-style: none;
}
.media_box {
    width: 1100px;
    margin: 0 auto;
    margin: 29px auto 80px;
    background: #fff;
}
.clearfix:after {
    clear: both;
}
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}
/*分页*/
.pager {
    padding: 20px 0;
    text-align: center;
}
.pager ul {
    font-size: 0;
}
.pager-prev, .pager-next, .pager-page-number {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
}
.pager-prev .pager-anchor, .pager-next .pager-anchor, .pager-page-number .pager-anchor {
    padding: 0 15px;
    height: 32px;
    line-height: 32px;
    color: #999;
    border: solid 1px #d9d9d9;
    font-size: 12px;
    background-color: #fff;
    display: inline-block;
}
.pager-prev a {
    border-radius: 15px 0 0 15px;
}
.pager-prev, .pager-next, .pager-page-number {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
}
.pager-prev.active .pager-anchor, .pager-prev:hover .pager-anchor, .pager-next.active .pager-anchor, .pager-next:hover .pager-anchor, .pager-page-number.active .pager-anchor, .pager-page-number:hover .pager-anchor {
    border-color: #f25a46;
    color: #f25a46;
}
.pager-next a {
    border-radius: 0 15px 15px 0;
}
/*分页结束*/
/*面包屑*/
.page_nav {
    width: 1100px;
    margin: 0 auto;
    margin-top: 22px;
    color: #999;
    font-size: 12px;
}
.page_nav a {
    color: #999;
}
/*面包屑结束*/
